@{
    ViewData["Title"] = "Koniec referendum";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="card">
    <h5 class="card-header">Referedum</h5>
    <div class="card-body">
        <h5 class="card-title">Czas głosowania minął</h5>
        <p class="card-text">Obecnie nie ma aktywnego głosowania. Dziękujemy za chęć udziału w referendum.</p>
        <a href="#" class="btn btn-primary">Wyniki</a>
    </div>
</div>