
@{
    ViewData["Title"] = "Błąd głosowania";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">Referedum</h5>
    <div class="card-body">
        <h5 class="card-title">Wystąpił błąd</h5>
        <p class="card-text">Podczas próby głosowania napotkano na błąd.</p>
    </div>
</div>