@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card">
    <h5 class="card-header">Referedum</h5>
    <div class="card-body">
        <h5 class="card-title">Głosowanie już trwa!</h5>
        <p class="card-text">Zapraszamy do wzięcia udziału w internetowym referendum. 
        Każdy obywatel ma prawo zagłosować tylko raz po uprzednim zarejestrowaniu i zalogowaniu. 
        Aktywny telefon umożliwi weryfikację, dlatego jest niezbędny, gdyż wystąpi konieczność wprowadzenia kodu, który zostanie wysłany za pomocą SMS. 
        Podczas korzystania z platformy należy znajdować się na terytorium Rzeczpospolitej Polskiej.</p>
        <a href="/Voting/Select" class="btn btn-primary">Oddaj głos</a>
    </div>
</div>